@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opactity: 1;
    transform: translateX(0);
  }
}

.container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;

  animation: slideInFromRight 1s;
}

.container h1 {
  padding-top: 50px;
}

.container p {
  font-size: 18px;
  padding: 10px 20%;
  line-height: 1.8em;
}

@media only screen and (max-width: 1200px) {
  .container {
    animation: none;
  }
}

@media only screen and (max-width: 700px) {
  .container p {
    padding: 10px 10%;
    line-height: 1.8em;
  }
}
