@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opactity: 1;
    transform: translateX(0);
  }
}

.container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;

  animation: slideInFromRight 1s;
}

.container h1 {
  padding-top: 50px;
}

.container p,
.container ul,
.container ol,
.container blockquote {
  font-size: 18px;
  padding: 10px 20%;
  line-height: 1.8em;
}
