@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opactity: 1;
    transform: translateX(0);
  }
}

.container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;

  animation: slideInFromRight 1s;
}

.container h1 {
  padding-top: 50px;
}

.container p {
  font-size: 18px;
  padding: 7px 20%;
  line-height: 1.8em;
}

.container a {
  margin-top: 10px;
  padding: 5px 20px;
  border: 1px solid black;
  background: black;
  color: white;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container a:hover {
  background: transparent;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .container {
    animation: none;
  }
}

@media only screen and (max-width: 700px) {
  .container p {
    padding: 10px 10%;
    line-height: 1.8em;
  }
}
