@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opactity: 1;
    transform: translateX(0);
  }
}

.container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;

  animation: slideInFromRight 1s;
}

.container h1 {
  padding-top: 50px;
}

.container p {
  font-size: 18px;
  padding: 10px 20%;
  line-height: 1.8em;
}

.container form {
  width: 100%;
}

.container input,
.container label,
.container textarea {
  width: 100%;
  border: none;
  border-color: transparent;
  overflow: auto;
  outline: none;
}

.container input,
.container textarea {
  font-family: "Manrope", sans-serif;
  padding: 10px;
  background: rgb(248, 248, 248);
}

.container button {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  padding: 10px 40px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.container button:hover {
  padding: 10px 60px;
  color: black;
  background: rgb(230, 230, 230);
}

.container span {
  color: rgb(207, 53, 53);
}

@media only screen and (max-width: 700px) {
  .container p {
    padding: 10px 10%;
    line-height: 1.8em;
  }
}
