.footer {
  height: 220px;
  padding: 0 20%;
  width: 100%;
  background-color: rgb(187, 187, 187);
}

.footer h3 {
  font-size: 1em;
  padding: 60px 0 0 0;
  margin-bottom: 7px;
  margin-top: 0;
}

.footer h4 {
  font-size: 0.9em;
  padding: 0;
  margin: 0 0 40px;
  font-weight: 300;
}
