@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$bgColor: rgb(248, 248, 248);

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: $bgColor;
  font-weight: 300;
}

button {
  outline: none;
}

#contact-icon {
  fill: white;
}

::selection {
  background: black;
  color: white;
}

p {
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.kg-card.kg-gallery-card.kg-width-wide {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 100px 5%;
}

.kg-gallery-row {
  width: 90%;
  margin: 20px 5%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
}

.kg-gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kg-gallery-image img {
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  height: auto;
}

.kg-image-card {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.kg-image {
  max-height: calc(100vh - 200px);
  width: auto;
  max-width: 90vw;
  object-fit: contain;
}

.selected {
  position: relative;
}

.selected::after {
  position: absolute;
  z-index: -1;
  content: "";
  border: 1px solid white;
  padding: 5px 10px;
  top: -4px;
  left: -9px;
  width: 100%;
  height: 20px !important;
}

.kg-bookmark-card {
  padding: 10px 20%;
}

.kg-bookmark-container {
  border: 1px solid lightgrey;
  display: flex;
  background: rgb(248, 248, 248);
}

.kg-bookmark-content {
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 100%;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 20px;
  color: grey;
  font-size: 14px;
}

.kg-bookmark-card .kg-bookmark-title {
  font-weight: 800;
  color: black;
  font-size: 16px;
  padding-bottom: 6px;
}

.kg-bookmark-metadata {
  font-size: 14px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  color: black;
}

.kg-bookmark-metadata img {
  height: 20px;
}

.kg-bookmark-metadata > * {
  margin-right: 6px;
}

.kg-bookmark-metadata span:nth-child(3) {
  border-left: 1px solid lightgrey;
  padding-left: 5px;
}

.kg-bookmark-thumbnail {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-width: 33%;
}

.kg-bookmark-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

.kg-card-hascaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-size: 16px;
  color: grey;
  margin-top: 15px;
}

@media only screen and (max-width: 1400px) {
  .kg-gallery-row {
    width: 90vw;
    margin: 5px 0;
  }

  .kg-gallery-image img {
    padding: 10px 12px;
  }
}

@media only screen and (max-width: 900px) {
  .kg-gallery-row {
    width: 90vw;
    margin: 5px 0;
    flex-direction: column !important;
  }

  .kg-gallery-image img {
    padding: 10px 0;
  }

  .kg-bookmark-card {
    padding: 10px 15%;
  }

  .kg-image-card {
    padding: 20px 0;
    margin: 0;
  }

  .kg-gallery-image img {
    padding: 20px 0;
    width: 100%;
    height: auto;
  }

  .kg-card.kg-gallery-card.kg-width-wide {
    margin: 20px 5%;
  }
}

@media only screen and (max-width: 750px) {
  .kg-bookmark-card {
    padding: 10px 0;
    margin: 0 20px;
  }

  .kg-bookmark-metadata {
    flex-direction: column;
    align-items: flex-start;
  }

  .kg-bookmark-metadata > * {
    margin-right: 0px;
    margin-top: 4px;
  }

  .kg-bookmark-metadata span:nth-child(3) {
    border-left: none;
    padding-left: 0px;
  }

  .kg-bookmark-content {
    max-width: 66%;
    padding: 10px;
    -webkit-box-flex: 0.75;
    flex-grow: 0.75;
    font-size: 14px;
  }

  .kq-bookmark-title {
    overflow-wrap: break-word;
  }
}
