@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opactity: 1;
    transform: translateX(0);
  }
}

.loading {
  margin-top: 80px;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px;

  animation: slideInFromRight 1s;
}

.container p,
.container ul,
.container ol,
.container blockquote {
  font-size: 18px;
  padding: 15px 20%;
  line-height: 1.8em;
}

.container p a {
  border-bottom: 1px solid black;
}

.container p a:hover {
  color: grey;
  border-color: grey;
}

.container blockquote {
  margin: 0 20px;
  font-style: italic;
}

.container ul,
.container ol {
  margin: 40px 60px;
}

.container pre {
  max-width: 100vw;
  color: rgb(122, 122, 122);
  page-break-inside: avoid;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  padding: 40px 15%;
  background: rgb(238, 238, 238);
}

.container h2,
.container h3,
.container h4,
.container h5 {
  padding: 20px 20% 0;
}

.backButtonContainer {
  width: 100%;
  height: 0;
  margin-bottom: 100px;
}

.backButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 48px 43px 0 20%;
  padding: 0px 0 5px;
  font-weight: 400;
  border-bottom: 1px solid black;
  transition: all 0.15s ease-out;
}

.featureImage {
  background: rgb(235, 235, 235);
  padding: 0 !important;
  height: 450px !important;
  width: 100%;
  object-fit: cover !important;
  overflow: hidden;
}

.title {
  letter-spacing: -12px;
  padding: 0px 50px 10px 50px;
  margin: 0;
  width: 100%;
  font-size: 160px;
  font-weight: 800;
  line-height: 1.05em;
  color: white;
  background: black;
}
.tagContainer {
  position: relative;
  max-height: 500px;
  background: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin-bottom: -20px;
}

.tag {
  padding: 5px 8px;
  color: rgb(0, 0, 0);
  margin: 0 15px 0 0;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.tag:hover {
  border-color: black;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 1201px) {
  .backButton {
    margin: 48px 58px 0 58px;
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.15s ease-out;
  }

  .backButton:hover {
    margin-top: 43px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
}

@media only screen and (max-width: 1400px) {
  .title {
    font-size: 110px;
    letter-spacing: -5px;
  }

  .container {
    animation: none;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    width: 100%;
    font-size: 60px;
    padding: 0 10px 10px;
    margin: 0;
  }

  .container p,
  .container ul,
  .container ol,
  .container blockquote {
    padding: 15px 10%;
  }

  .backButton {
    margin: 48px 58px 0 10%;
  }

  .tag {
    padding: 3px 8px;
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
  }

  .tagContainer {
    position: relative;
    max-height: 500px;
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    margin-bottom: -20px;
  }
}
