@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opactity: 1;
    transform: translateX(0);
  }
}

.container {
  padding-top: 40px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  animation: slideInFromRight 1s;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container h1 {
  text-align: center;
  width: 100%;
  padding: 0 5%;
  font-size: 120px;
}

.container h2 {
  text-align: center;
  padding: 0 5%;
}

.postGrid {
  padding: 50px 15%;
  display: flex;
  flex-wrap: wrap;
}

.postCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 33%;
  cursor: pointer;
  padding: 0 3% 40px;
}

.postCard img {
  background: rgb(235, 235, 235);
  width: 100%;
  height: 210px !important;
  object-fit: cover;
  height: auto;
  transition: all 0.15s ease-in-out;
}

.postCard h3 {
  position: absolute;
  margin-top: 0px;
  padding: 2px 7px;
  width: 100%;
  background: black;
  color: white;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.postCard h3::after {
  content: "";
  line-height: 2em;
  padding-top: 30px;
  font-size: 14px;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  height: 26px;
  top: 100%;
  left: 0;
  background-color: white;
  z-index: 998;
  transition: all 0.15s ease-in-out;
}

@media only screen and (min-width: 1201px) {
  .postCard:hover h3 {
    margin-top: -54px;
    padding: 2px 7px 56px;
  }

  .postCard:hover h3::after {
    color: rgb(0, 0, 0);
    top: 36%;
  }
}

@media only screen and (max-width: 1301px) {
  .container {
    animation: none;
  }

  .postCard {
    width: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .postCard {
    width: 100%;
    cursor: pointer;
    padding: 0 3% 40px;
  }

  .postGrid {
    padding: 50px 10%;
  }
}
